<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	<Product Id="*" Name="GitHubRepoList" Language="1033" Version="1.0.0.0" Manufacturer="Dmytro Stadnyk" UpgradeCode="d69b3c35-983a-4d30-a0a9-cab452dbe2da">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Binary Id="SQLConnectionValidator.CA.dll" SourceFile="..\SQLConnectionValidator\bin\Release\SQLConnectionValidator.CA.dll" />
    <Binary Id="IISConfigurationValidator.CA.dll" SourceFile="..\IISConfigurationValidator\bin\Release\IISConfigurationValidator.CA.dll" />
    <Binary Id="WebServiceUrlValidator.CA.dll" SourceFile="..\WebServiceUrlValidator\bin\Release\WebServiceUrlValidator.CA.dll" />
    <Binary Id="DBManager.CA.dll" SourceFile="..\DBManager\bin\Release\DBManager.CA.dll" />

		<Feature Id="WebComponentFeature" Title="Web Component" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="GHRLWebComponents" />
      <ComponentGroupRef Id="GHRLIISConfiguration" />
      <ComponentRef Id="WebConfigUpdaterComponent" />
      <ComponentRef Id="WebShortcut" />
      <ComponentRef Id="CleanShortcuts" />
		</Feature>

    <Feature Id="WPFComponentFeature" Title="WPF Client Component" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="GHRLWPFComponents" />
      <ComponentRef Id="WpfClientConfigUpdaterComponent" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="CleanShortcuts" />
    </Feature>

    <Feature Id="SQLComponentFeature" Title="DB Component" Level="1" AllowAdvertise="no">
      <ComponentRef Id="SQLComponent" />
      <ComponentRef Id="SQLInfo" />
    </Feature> 
    
    <!--UI-->
    <UIRef Id="InstallUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="WPFCLIENT_INSTALLFOLDER" />
    
    <!--DB-->
    <Property Id="DB_USER" Value="admin"/>
    <Property Id="DB_PASSWORD" Value="admin"/>
    <Property Id="DB_SERVER" Value="localhost"/>
    <Property Id="DB_DATABASE" Value="repodb"/>
    
    <!--IIS Config-->
    <Property Id="APP_POOL" Value="GHRLAppPool" Secure="yes" />
    <Property Id="APP_NAME" Value="GHRLWebsite" Secure="yes" />
    <Property Id="APP_PORT" Value="59130" Secure="yes" />
    <Property Id="IIS_CONFIGURATION_SUCCESS" Value="0" />
    
    <!--Web Interface and Service URL-->
    <Property Id="WEB_URL" Value="http://localhost:59130/"/>
    <Property Id="SERVICE_CONNECTION_SUCCESS" Value="0" />

    <!--DB Connection Validation-->
    <Property Id="DB_CONNECTION_SUCCESS" Value="0" />
    <CustomAction Id="ValidateSqlConnectionServer" Return="check" Execute="immediate" BinaryKey="SQLConnectionValidator.CA.dll" DllEntry="ValidateSqlConnectionServer" />
    <CustomAction Id="ValidateSqlConnectionClient" Return="check" Execute="immediate" BinaryKey="SQLConnectionValidator.CA.dll" DllEntry="ValidateSqlConnectionClient" />

    <CustomAction Id="ValidateIISConfiguration" Return="check" Execute="immediate" BinaryKey="IISConfigurationValidator.CA.dll" DllEntry="ValidateIISConfiguration" />
    
    <CustomAction Id="ValidateWebServiceUrl" Return="check" Execute="immediate" BinaryKey="WebServiceUrlValidator.CA.dll" DllEntry="ValidateWebServiceUrl" />
    <CustomAction Id="ValidateLocalhostUrl" Return="check" Execute="immediate" BinaryKey="WebServiceUrlValidator.CA.dll" DllEntry="ValidateLocalhostUrl" />
    
    <CustomAction Id="DropDBOnUninstall" Return="check" Execute="immediate" BinaryKey="DBManager.CA.dll" DllEntry="DropDBOnUninstall" />
    

    <!--Show "Launch GHRLClient" at the end screen-->
    <!--<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch GHRLClient" />-->
    <CustomAction Id="LaunchApplication" Directory="WPFCLIENT_INSTALLFOLDER" ExeCommand="[WPFCLIENT_INSTALLFOLDER]GitHubRepoListWPFClient.exe" Execute="immediate" Return="asyncNoWait" />

    <CustomAction Id="CA_Set_WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Property="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch GHRLClient" />
    <CustomAction Id="CA_UnSet_WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Property="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="" />

    <!--Web Interface shortcut-->
    <SetProperty Id="URL" Value="http://localhost:[APP_PORT]/" Sequence="execute"  Before="CreateShortcuts" />
    
    <!--Drop DB on uninstall-->
    
    <Property Id="SQLCOMPONENT_INSTALLED_STATE" Secure="yes">
      <RegistrySearch Id="SQLComponentInstalledStateRegistryEntry"
                    Root="HKCU"
                    Key="Software\GHRLSQLInfo"
                    Name="installed"
                    Type="raw" />
    </Property>
  
    <InstallExecuteSequence>
      <Custom Action="DropDBOnUninstall" Before="RemoveFiles">((NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")) AND (SQLCOMPONENT_INSTALLED_STATE = "1")</Custom>
    </InstallExecuteSequence>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="INETPUB" Name="Inetpub">
        <Directory Id="INETPUB_INSTALLFOLDER" Name="GitHubRepoListWebService">
        </Directory>
      </Directory>
      
      <Directory Id="ProgramFilesFolder">
				<Directory Id="WPFCLIENT_INSTALLFOLDER" Name="GitHubRepoListSetupWPFClient" />
			</Directory>
      
      <!--Save DB Info for future removal-->
      <Component Id="SQLInfo" Guid="{AF874571-016C-4CC3-AF9C-EE1E8780FA61}">
        <RegistryValue
                Root="HKCU"
                Key="Software\GHRLSQLInfo"
                Name="installed"
                Type="string"
                Value="1"
                KeyPath="yes"/>
        <RegistryValue
                Root="HKCU"
                Key="Software\GHRLSQLInfo"
                Name="DB_USER"
                Type="string"
                Value="[DB_USER]"
                KeyPath="no"/>
        <RegistryValue
                  Root="HKCU"
                  Key="Software\GHRLSQLInfo"
                  Name="DB_PASSWORD"
                  Type="string"
                  Value="[DB_PASSWORD]"
                  KeyPath="no"/>
        <RegistryValue
                  Root="HKCU"
                  Key="Software\GHRLSQLInfo"
                  Name="DB_SERVER"
                  Type="string"
                  Value="[DB_SERVER]"
                  KeyPath="no"/>
        <RegistryValue
                  Root="HKCU"
                  Key="Software\GHRLSQLInfo"
                  Name="DB_DATABASE"
                  Type="string"
                  Value="[DB_DATABASE]"
                  KeyPath="no"/>
      </Component>

      <!--Create shortcut-->
      <Directory Id="DesktopFolder" Name="Desktop">
        <!--WPF Client shortcut-->
        <Component Id="ApplicationShortcut" Guid="{76C55264-85E8-4AC2-80AA-EC2FE12DE36B}">
          <Shortcut Id="WPFComponentDesktopShortcut"
                    Name="GHRL Client"
                    Description="GitHub Repo List WPF Client"
                    Target="[WPFCLIENT_INSTALLFOLDER]GitHubRepoListWPFClient.exe"
                    WorkingDirectory="WPFCLIENT_INSTALLFOLDER">
            <Icon Id="ApplicationIcon" SourceFile="..\GitHubRepoListWPFClient\Git-Icon-Black.ico" />
          </Shortcut>
          <RegistryValue
                Root="HKCU"
                Key="Software\GHRLWPFClient"
                Name="installed"
                Type="string"
                Value="1"
                KeyPath="yes"/>
        </Component>

        <!--Web Shortcut-->
        <Component Id="WebShortcut" Guid="{FF039214-1D9A-4A89-9032-FF9A2A01A8A6}">

          <Shortcut Id="WebShortcut" Name="GHRL Web Interface" Description="GitHub Repo List Web Interface" Target="[URL]" Icon="IconDesktop">
            <Icon Id="IconDesktop" SourceFile="..\GitHubRepoListWPFClient\Git-Icon-Black.ico" />
          </Shortcut>
          <RegistryValue
                Root="HKCU"
                Key="Software\GHRLWebInterface"
                Name="installed"
                Type="string"
                Value="1"
                KeyPath="yes"/>
        </Component>

        <!--Clean all shortcuts on uninstall-->
        <Component Id="CleanShortcuts" Guid="{F6112491-E4DC-4324-8BED-6B0655BE95DC}">
          <RemoveFolder Id="DesktopFolder" On="uninstall" />
          <RegistryValue
                Root="HKCU"
                Key="Software\GHRLInstalled"
                Name="installed"
                Type="string"
                Value="1"
                KeyPath="yes"/>
        </Component>
      </Directory>
		</Directory>
	</Fragment>
</Wix>
