<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="GitHubRepoList" Language="1033" Version="1.0.0.0" Manufacturer="Dmytro Stadnyk" UpgradeCode="d69b3c35-983a-4d30-a0a9-cab452dbe2da">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="GitHubRepoListSetup" Level="1">
      <ComponentGroupRef Id="GHRLWPFComponents" />
      <ComponentGroupRef Id="GHRLWebComponents" />
      <ComponentGroupRef Id="GHRLIISConfiguration" />
		</Feature>
    
    <!--UI-->
    <UIRef Id="InstallUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="INETPUB" />
    
    <!--DB-->
    <Property Id="DB_USER" Value="root"/>
    <Property Id="DB_PASSWORD" Value="root"/>
    <Property Id="DB_SERVER" Value="LOCAL"/>
    <Property Id="DB_DATABASE" Value="RepoDB"/>
    
    <!--.NET Framework 4.5.2 Install-->
    <Binary Id="Net452RedistributableBinary" SourceFile="..\Redist\NDP452-KB2901907-x86-x64-AllOS-ENU.exe" />
    <CustomAction Id="InstallNet452" BinaryKey="Net452RedistributableBinary" Impersonate="no" ExeCommand="" Execute="deferred" Return="asyncNoWait" />
    <InstallExecuteSequence>
      <Custom Action="InstallNet452" After="InstallFiles" />
    </InstallExecuteSequence>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="INETPUB" Name="Inetpub">
        <Directory Id="INETPUB_INSTALLFOLDER" Name="GitHubRepoListWebService">
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder">
				<Directory Id="WPFCLIENT_INSTALLFOLDER" Name="GitHubRepoListSetupWPFClient" />
			</Directory>
		</Directory>
	</Fragment>
</Wix>
