<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INETPUB_INSTALLFOLDER">
            <Directory Id="dirF777CBADDDFE7E3A098A3E7739FBCA2C" Name="App_Data" />
            <Directory Id="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Name="bin" />
            <Directory Id="dir4AA80899F90CDE35D62328B9800C16D4" Name="Content" />
            <Directory Id="dir713264858A33B0A01F4A6BFEBE0D5559" Name="fonts" />
            <Directory Id="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Name="Scripts" />
            <Directory Id="dir9F8EFA8A62AD8ABCE744E51610DAEB0B" Name="Sql" />
            <Directory Id="dir1460EF453981397DC7F7B059F4DC3C11" Name="Views" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GHRLWebComponents">
            <Component Id="cmp8567E47C157140FAA29155B510EA3B87" Directory="INETPUB_INSTALLFOLDER" Guid="{DAA01323-C87B-4E85-BA76-D798D14B16E2}">
                <File Id="fil4EB97F35D3912E52692A96F1AC19F73C" KeyPath="yes" Source="$(var.publishDir)\GitHubRepoListService.asmx" />
            </Component>
            <Component Id="cmpD2274AEF5A775A7F6CA32371210588AC" Directory="INETPUB_INSTALLFOLDER" Guid="{3B4AF808-E3AC-4856-88C0-DCE486EAAEC9}">
                <File Id="fil5C4EA760AC57EF60EA7734866C8C7792" KeyPath="yes" Source="$(var.publishDir)\Global.asax" />
            </Component>
            <Component Id="cmp144E37362FF85FD83BE8B02A23360A05" Directory="INETPUB_INSTALLFOLDER" Guid="{812716BF-66AD-4FE9-9FEC-DCD16DDE48B0}">
                <File Id="fil9ADD74A09125F99E704C6AEAAE7E24E0" KeyPath="yes" Source="$(var.publishDir)\packages.config" />
            </Component>
            <Component Id="cmp5F5E0D25D5CE327984887BD5BBB8D048" Directory="INETPUB_INSTALLFOLDER" Guid="{3B114726-6412-411B-9685-A964F25D6709}">
                <File Id="filB9086EE0F0E5A46439CD7D6EBCCE6FC6" KeyPath="yes" Source="$(var.publishDir)\Web.config" />
            </Component>
            <Component Id="cmpFB834393B6589CF9869A5236986A2B65" Directory="dirF777CBADDDFE7E3A098A3E7739FBCA2C" Guid="{E32C9B5A-C62D-46EF-AFC5-D902A6CF4D99}">
                <File Id="fil6C2B8B1758C4FF53CA85F1E4825955D6" KeyPath="yes" Source="$(var.publishDir)\App_Data\RepoDB.mdf" />
            </Component>
            <Component Id="cmpF8667705FE33FA249409EE1385857065" Directory="dirF777CBADDDFE7E3A098A3E7739FBCA2C" Guid="{9E7BA812-30A3-4E79-9B35-082063349E29}">
                <File Id="filAB556037F79AE1C6B767E89774402E67" KeyPath="yes" Source="$(var.publishDir)\App_Data\RepoDB_log.ldf" />
            </Component>
            <Component Id="cmp38B1224B23C2DADA6560DABF5FB3D05A" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{A2C29D61-168B-43C7-BB08-3C5F258A661D}">
                <File Id="filD41BC07300BD00E9C63FBD850C0525F0" KeyPath="yes" Source="$(var.publishDir)\bin\EntityFramework.dll" />
            </Component>
            <Component Id="cmp0E66B59B7DE1FC33D697EE1AFE93BC84" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{AA04D73A-C541-415C-81E9-91D66066F9CC}">
                <File Id="filDC4E5FBE4CF3AE7F2A48558CB7B52841" KeyPath="yes" Source="$(var.publishDir)\bin\EntityFramework.SqlServer.dll" />
            </Component>
            <Component Id="cmp0D8F6AE9F58FD20DC58D12B7DEB8D906" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{1671F828-BB76-4FD2-AC65-E436F4289487}">
                <File Id="fil2AEC1FDA27EA6B46B099C632F98E5A34" KeyPath="yes" Source="$(var.publishDir)\bin\GitHubRepoList.dll" />
            </Component>
            <Component Id="cmpFBDEA4E6E30C12A2FB60CFE31FB39311" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{C4F9D821-061A-47E1-8F12-00FC8BCCB15C}">
                <File Id="filC5A15ACC31DDD949BDFFED1F93855F9E" KeyPath="yes" Source="$(var.publishDir)\bin\GitHubRepoList.pdb" />
            </Component>
            <Component Id="cmp075103F74AF18ADE4FF44849D6891212" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{15937D48-F5FF-45AD-9922-161A79CDF2FC}">
                <File Id="filF2FEE4C2787EEE0D9E46780EA0116C7A" KeyPath="yes" Source="$(var.publishDir)\bin\Microsoft.Web.Infrastructure.dll" />
            </Component>
            <Component Id="cmp4D3C4BAAB6E0ACA2ADB25439C1E303FE" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{E8CF0280-C592-48F5-8656-9BF9D80F52F3}">
                <File Id="fil166CEF8847E8D59AB575A4F95FBA1AC1" KeyPath="yes" Source="$(var.publishDir)\bin\System.Web.Helpers.dll" />
            </Component>
            <Component Id="cmp3A8D92C87DC23961626FCC3564B68FA2" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{030F8563-2660-4620-9192-2E455CDB1EAB}">
                <File Id="filA68E01C001B500E6332F7BB25D1F2D1B" KeyPath="yes" Source="$(var.publishDir)\bin\System.Web.Mvc.dll" />
            </Component>
            <Component Id="cmpDD517D4A7A5FB6BB9990157149E50A47" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{841B4537-F197-48AF-8ECF-A8500657AFF3}">
                <File Id="filC59BCA350367C9B603744FA2EC5A42E2" KeyPath="yes" Source="$(var.publishDir)\bin\System.Web.Razor.dll" />
            </Component>
            <Component Id="cmp5C648FE033260DD6CB6D545D2187F1D6" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{785EEB5D-82F2-4A6C-AB52-C470F6B0293E}">
                <File Id="filA99BD39274992A055F240776D7DBEB49" KeyPath="yes" Source="$(var.publishDir)\bin\System.Web.Webpages.Deployment.dll" />
            </Component>
            <Component Id="cmp909C8BEAF6CC2923D42165EBF2406C5B" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{E45E78C3-9F87-45D9-B4BB-BE2B1CFBFC0E}">
                <File Id="filC0FCD234E801B0EE228A74FF090B2276" KeyPath="yes" Source="$(var.publishDir)\bin\System.Web.Webpages.dll" />
            </Component>
            <Component Id="cmpB3581815AFB791E86508EF301CDED476" Directory="dir6E3FE3C5F2C6E1ACD8D7716BD45E7204" Guid="{1F614AAF-520A-4C59-9DCD-F5219FDFC26E}">
                <File Id="filC8709E818304060AED6E11C8DC04CCF8" KeyPath="yes" Source="$(var.publishDir)\bin\System.Web.Webpages.Razor.dll" />
            </Component>
            <Component Id="cmp017376881E33C0ACAB1DA9200E8AD4FC" Directory="dir4AA80899F90CDE35D62328B9800C16D4" Guid="{179F0DD3-DAED-43C1-9ADB-072BE78C4ADB}">
                <File Id="fil1F264EE9B9B29ADD5B69A112A4D1277E" KeyPath="yes" Source="$(var.publishDir)\Content\bootstrap.css" />
            </Component>
            <Component Id="cmp8794C97B62E907EF65DC0376D8AF8D59" Directory="dir4AA80899F90CDE35D62328B9800C16D4" Guid="{2932647D-DAA0-4373-8787-7649D1B0DE61}">
                <File Id="fil91DE44EBBE5CBF49E5089BF6A44C95A1" KeyPath="yes" Source="$(var.publishDir)\Content\bootstrap.min.css" />
            </Component>
            <Component Id="cmp6253601F6C3A4200DC48F2F0CBB6221F" Directory="dir4AA80899F90CDE35D62328B9800C16D4" Guid="{D05AE0E6-F071-4580-AC63-E813A6D45224}">
                <File Id="filBAF88F0B77F1DB9801676622DDA9B7CC" KeyPath="yes" Source="$(var.publishDir)\Content\custom.css" />
            </Component>
            <Component Id="cmpAF4E2CE9D569166E3F87E47DD9868844" Directory="dir4AA80899F90CDE35D62328B9800C16D4" Guid="{513D3A93-7BF8-475E-97FC-35C3332FA9AF}">
                <File Id="fil4BC9E9C792E10D4D4444EB0E748C4E51" KeyPath="yes" Source="$(var.publishDir)\Content\ngDialog-theme-default.min.css" />
            </Component>
            <Component Id="cmpD7526E08091C3FBEA55DD2900207BC1D" Directory="dir4AA80899F90CDE35D62328B9800C16D4" Guid="{D87EC3DA-6236-4DF2-BDB3-C7E1DC91FA13}">
                <File Id="fil2CC7B7E58E8FE09410870B5A4685DCF2" KeyPath="yes" Source="$(var.publishDir)\Content\ngDialog.min.css" />
            </Component>
            <Component Id="cmp1BDF9B7D5DFDC1C4FA23ACA20DA4056D" Directory="dir4AA80899F90CDE35D62328B9800C16D4" Guid="{90CF5918-C224-41D7-B93F-8FBFBBA32CE4}">
                <File Id="filEADF3C224F70A2AB8BB8149C32F95CDF" KeyPath="yes" Source="$(var.publishDir)\Content\noImg.png" />
            </Component>
            <Component Id="cmpE0B904F20138A87E517B1DEB04E0566E" Directory="dir4AA80899F90CDE35D62328B9800C16D4" Guid="{D5FC0B76-2AD9-42DD-B22E-E078E61207C6}">
                <File Id="fil56E2BF200AF1411092B10CE8D951ACBE" KeyPath="yes" Source="$(var.publishDir)\Content\Site.css" />
            </Component>
            <Component Id="cmpEC43001FF2B619892B35E5BF20688266" Directory="dir713264858A33B0A01F4A6BFEBE0D5559" Guid="{53D36020-30B6-4570-A773-B5023CAA9FC8}">
                <File Id="filA3BDA76BD8F1AA870130101EDE7F2731" KeyPath="yes" Source="$(var.publishDir)\fonts\glyphicons-halflings-regular.eot" />
            </Component>
            <Component Id="cmp9E741167EEC4D9BA5D1598A8CDFB6ADC" Directory="dir713264858A33B0A01F4A6BFEBE0D5559" Guid="{705D21EE-DC6A-4D13-AEDC-B6CFEA2307D4}">
                <File Id="fil693B4F9ABCBD77BC1F49FDD754D52B40" KeyPath="yes" Source="$(var.publishDir)\fonts\glyphicons-halflings-regular.svg" />
            </Component>
            <Component Id="cmpF4E0061ABC01A009E31913C45FBF3778" Directory="dir713264858A33B0A01F4A6BFEBE0D5559" Guid="{A0F04189-5B15-4D51-852D-9D0C62BE5093}">
                <File Id="filC2FDE966C1A9D868718ADF89710A0828" KeyPath="yes" Source="$(var.publishDir)\fonts\glyphicons-halflings-regular.ttf" />
            </Component>
            <Component Id="cmp324478D85E5490DA48DDA9328FB47EBF" Directory="dir713264858A33B0A01F4A6BFEBE0D5559" Guid="{B17913C7-AC82-4B1C-BB8E-BFB9420252CF}">
                <File Id="filFA592D5868DC09B8089F9762D7F919D4" KeyPath="yes" Source="$(var.publishDir)\fonts\glyphicons-halflings-regular.woff" />
            </Component>
            <Component Id="cmp47ABA6E5D93D44DAD73D305873D3C01A" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{5CFC9F6A-4A6C-4D4A-98AB-0E902A7ACC16}">
                <File Id="fil661332672F2DEA8E5479B495B77127B2" KeyPath="yes" Source="$(var.publishDir)\Scripts\angular-cookies.min.js" />
            </Component>
            <Component Id="cmp2CC3DA3801BE0942ED688C645F47E210" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{41628724-22A7-4FC0-81D6-52FD7605BEC3}">
                <File Id="fil613A886572B5EFAE8F3AFF1EAF4055B1" KeyPath="yes" Source="$(var.publishDir)\Scripts\angular.min.js" />
            </Component>
            <Component Id="cmp0234F440C0915A9FC94A0061FD64B180" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{C6F6525D-ADB6-440C-804B-6DD034401C9C}">
                <File Id="fil5E0915CDB517DDD4EAA0A7B375ED1517" KeyPath="yes" Source="$(var.publishDir)\Scripts\app.js" />
            </Component>
            <Component Id="cmp65E4D7EC2ADB64D4AA08C6F444120CEF" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{7EC3F59E-1D48-4597-8A88-92A5D571ED38}">
                <File Id="fil96BE48C644C913A4F5D4E7300B8A2AA7" KeyPath="yes" Source="$(var.publishDir)\Scripts\bootstrap.js" />
            </Component>
            <Component Id="cmp82976805D6CBED7CB89253B363E3A6A8" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{2369AFF3-B3BA-48DD-B821-0E1A6F56186C}">
                <File Id="fil41C3B10162C710D6EBA1B4C7A3B64C8F" KeyPath="yes" Source="$(var.publishDir)\Scripts\bootstrap.min.js" />
            </Component>
            <Component Id="cmp1E710A01B4DF681D3A955DFC24B74B84" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{15A837E3-A9B6-4F1F-A5A9-3738357A3B36}">
                <File Id="fil1070C42A51726300C67813E188767CE2" KeyPath="yes" Source="$(var.publishDir)\Scripts\jquery-1.10.2.js" />
            </Component>
            <Component Id="cmp08A8E9FC0463C5AE51BE61147A279D2C" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{8E6EF3FB-BA45-4E08-A468-19D13DC5EB48}">
                <File Id="filDB19C7CAC52154D14A08DD284F1FEA9E" KeyPath="yes" Source="$(var.publishDir)\Scripts\jquery-1.10.2.min.js" />
            </Component>
            <Component Id="cmp0462E97A61B35874B4D9C4271DEB23AE" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{D2A91AC1-89FE-4A29-8601-18A3E3BE8217}">
                <File Id="filC08DFD5B8513F187E3E4FC8E7DF2CF85" KeyPath="yes" Source="$(var.publishDir)\Scripts\jquery-1.10.2.min.map" />
            </Component>
            <Component Id="cmp6AFCC50DB55E14E19DE6D2306C898753" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{B5CE13A1-C208-4CF2-AA5A-5269A2F31BEB}">
                <File Id="fil2A4C40024D85DEC7B28FEF0EBDAD9075" KeyPath="yes" Source="$(var.publishDir)\Scripts\jquery@1,jquery.ui@1.10(jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js" />
            </Component>
            <Component Id="cmp93CBCDE7E9FA7F687F182C912D1210AC" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{A6A9ECF9-ECCE-4CCA-A530-5D137D1D230E}">
                <File Id="fil5B0F52997520EFC84C04462031C95A72" KeyPath="yes" Source="$(var.publishDir)\Scripts\modernizr-2.6.2.js" />
            </Component>
            <Component Id="cmp9A9FA7277714BE2A8EA12A1217B1AE28" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{40B53F9E-575E-4F9E-BB94-DA3659143894}">
                <File Id="filAE0012CF6A74B95829671D57FD5E8CF0" KeyPath="yes" Source="$(var.publishDir)\Scripts\ngDialog.min.js" />
            </Component>
            <Component Id="cmpDD67B37CC60B8A9E1948C5AA68783DAF" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{250538CF-FB63-4830-8561-6B3E3659DDE5}">
                <File Id="fil6BE23364D0EB13158C8B4337649054E1" KeyPath="yes" Source="$(var.publishDir)\Scripts\other.js" />
            </Component>
            <Component Id="cmp8249D3DB598EE6D8992C8BBDD55F3A91" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{AE7C0F27-0F9D-4C84-8ECC-1922C5764CA7}">
                <File Id="fil73A8D4165B60456574362D0D785EDE09" KeyPath="yes" Source="$(var.publishDir)\Scripts\snippets.js" />
            </Component>
            <Component Id="cmpCA86F0894E8C216368C95BEC0CECB49D" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{728164BF-13C3-40FD-91A4-0CCB3EF1B0B8}">
                <File Id="filD8A263DB673494E4FBA92290AE90F052" KeyPath="yes" Source="$(var.publishDir)\Scripts\sortable.js" />
            </Component>
            <Component Id="cmp8012EEF4EF9A3BB218BB96A19C4280D7" Directory="dir93FE7A7DD12925E2B774CC0C14BD8CCD" Guid="{07368A2E-9F98-4E7A-B5E2-7061DDCA9CF2}">
                <File Id="filE5515DCA192EF3A76C544A5FABC1D92B" KeyPath="yes" Source="$(var.publishDir)\Scripts\ui.sortable.multiselection.js" />
            </Component>
            <Component Id="cmp0D247942B8F673E228F936573C977B95" Directory="dir9F8EFA8A62AD8ABCE744E51610DAEB0B" Guid="{91D341D9-7C60-494E-9325-62E1006350CA}">
                <File Id="fil9F61ADFB53271213EB587E757C3C76C9" KeyPath="yes" Source="$(var.publishDir)\Sql\Create_sp_RepoCrud.sql" />
            </Component>
            <Component Id="cmp26AA763F9631EA9DFFA9EA499C484810" Directory="dir9F8EFA8A62AD8ABCE744E51610DAEB0B" Guid="{24219D2B-7496-4138-A35B-4294C4D5C877}">
                <File Id="filD5A8930765CE3B7E2191E95E41C024EE" KeyPath="yes" Source="$(var.publishDir)\Sql\Create_sp_UserOps.sql" />
            </Component>
            <Component Id="cmp8B8D8252D70F118745F0E5D05DC109D1" Directory="dir9F8EFA8A62AD8ABCE744E51610DAEB0B" Guid="{8990C920-2771-4FC6-9D8E-A355B90DD365}">
                <File Id="fil458E6EF99AD182FD38622CEAD3B0A74D" KeyPath="yes" Source="$(var.publishDir)\Sql\Drop_sp_RepoCrud.sql" />
            </Component>
            <Component Id="cmp6A1A6EF69473BE7C0336BC435B20552C" Directory="dir9F8EFA8A62AD8ABCE744E51610DAEB0B" Guid="{2560EC85-524E-4A97-98B1-D5CB7B6986C2}">
                <File Id="fil6392960C20FA55F6E1C3AA5D6113767E" KeyPath="yes" Source="$(var.publishDir)\Sql\Drop_sp_UserOps.sql" />
            </Component>
            <Component Id="cmpCE0333BA27F9D118AEAFCB405F8CC529" Directory="dir1460EF453981397DC7F7B059F4DC3C11" Guid="{02216A6F-7B75-40DE-A118-54777CC842FE}">
                <File Id="fil7C87EACC1A5984D6EC7B0A2E14D47102" KeyPath="yes" Source="$(var.publishDir)\Views\web.config" />
            </Component>
            <Component Id="cmp1F509D6DFA9A5C128FC6D5F79FFE264B" Directory="dir1460EF453981397DC7F7B059F4DC3C11" Guid="{D5B6512C-EFE0-4F41-B89F-8412EF23A371}">
                <File Id="fil3DF22C339EFF456E950BE40C68159B53" KeyPath="yes" Source="$(var.publishDir)\Views\_ViewStart.cshtml" />
            </Component>
            <Component Id="cmp903B7F635E5297F6BC6A8D4160B52F6A" Directory="dir290DBBECDA4EA4252B17CF1F1CCC4291" Guid="{E5381467-F4CC-49EF-8D26-2EB4BD414247}">
                <File Id="fil513407B846AA8A85C4DA105FF560ED7E" KeyPath="yes" Source="$(var.publishDir)\Views\Home\Index.cshtml" />
            </Component>
            <Component Id="cmpC0A9AADA5DA138085A3B14079913E582" Directory="dirD48AA39396E57EBB627CFA43B3368EE8" Guid="{CED1B89B-D255-48D4-BD39-AFE55A5C98B6}">
                <File Id="fil29032B690E64A2F16453C4F6AAB14CBC" KeyPath="yes" Source="$(var.publishDir)\Views\Shared\_DialogTemplates.cshtml" />
            </Component>
            <Component Id="cmpBE578943B1E44FBBDED72EB0085242AE" Directory="dirD48AA39396E57EBB627CFA43B3368EE8" Guid="{4A2E4815-9513-4DB3-937F-37DF97BE433A}">
                <File Id="fil05E4F0F461835B3C41232389809D35F8" KeyPath="yes" Source="$(var.publishDir)\Views\Shared\_Layout.cshtml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1460EF453981397DC7F7B059F4DC3C11">
            <Directory Id="dir290DBBECDA4EA4252B17CF1F1CCC4291" Name="Home" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1460EF453981397DC7F7B059F4DC3C11">
            <Directory Id="dirD48AA39396E57EBB627CFA43B3368EE8" Name="Shared" />
        </DirectoryRef>
    </Fragment>
</Wix>