<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="GitHubRepoListBootstrapper" Version="1.0.0.0" Manufacturer="Dmytro Stadnyk" UpgradeCode="a72d743a-4e84-4b5c-a8c1-b5b68a22ea92">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="LICENSE.rtf" SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

		<Chain>
			 <MsiPackage SourceFile="..\GitHubRepoListSetup\bin\Release\GHRL_Setup.msi" DisplayInternalUI="yes" /> 
		</Chain>
	</Bundle>
</Wix>
